.title {
    font-size: 3rem;
    line-height: 1.15;
    text-align: center;
    margin: 0 0 1em;
}

.description {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.view {
    text-align: center;
    margin-top: 3em;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.mapCt {
    display: grid;
    grid-template-columns: 15fr 1fr;
    gap: 1em;
}

.homeMap {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.filterList {
    direction: rtl;
    text-align: right;
    font-size: 1.35rem;
    text-wrap: nowrap;
    min-width: 150px;
}